---
layout: page
title: Google Sheets to Github Website - Links
---

<!-- Pulls from _data People -->
{% assign places = site.data.places %}
{% assign places = places | sort:"Place" %}

<h3>Places</h3>
<table width="100%">
{% for Place in places %}
  <tr>
    <td>Hello <strong>{{ Place.Place }}</strong></td>
    <td width="25%">{{ Place.City }}</td>
  </tr>
{% endfor %}
</table>

<!-- Pulls from _data links -->
{% assign links = site.data.links %}
{% assign links = links | sort:"Name" %}

<h3>Links</h3>
<table width="100%">
{% for link in links %}
  <tr>
    <td><strong>{{ link.name }}</strong></td>
    <td width="25%">{{ link.url }}</td>
  </tr>
{% endfor %}
</table>
